.BGimage{
    background: url("./../../../Images/communityBackgroud.png") no-repeat center fixed;
    height: 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Pacifico', cursive; */
    font-size: 3rem;
    color: white;
}

.searchBox{
    text-align: center;
    display: inline-block;
    transform: translateY(-35px);
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (min-width: 1000px) {
    .SearchInput {
        width: 700px;
    }
  }