.ThreadsCover{
    width: 80%;
    margin: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2%;
}

.ThreadsQuestion{
    font-size: 2rem;
    display: flex;
}

@media only screen and (min-width: 1000px){
    .thumbupIcon{
        margin-left: 2rem;
        margin-top: .7rem;   
    }    
}

@media only screen and (max-width: 1000px) {
    .ThreadsQuestion {
      display: block;
    }
  }

.ThreadsAuthor{
    color: #868686;
    display: flex;
}

.ThreadsComment{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}